body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
} */

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.weather-info {
    text-align: center;
}

.location {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.weather-details {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.weather-details p {
    margin: 5px 0;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: #fff;
}

#search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[name="city"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
}

button {
    padding: 10px 40px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

